<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.birt.data.aggregation">
      <Aggregations>
         <AggregationFactory
               class="innovent.birt.aggregations.factory.InnoventAggregateFactory">
         </AggregationFactory>
      </Aggregations>
   </extension>
   <extension
         point="org.eclipse.birt.core.ScriptFunctionService">
      <Category
            desc="A list of custom functions for BIRT reports"
            factoryclass="innovent.birt.functions.factory.InnoventFunctionFactory"
            name="CustomFunctions">
         <Function
               desc="Adds a ReportItem from the library to the end of the report."
               isStatic="true"
               name="AppendLibraryContent"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="Name of item in library"
                  isOptional="false"
                  name="reportItemName">
            </Argument>
            <Argument
                  desc="The reportContext of the current report"
                  isOptional="false"
                  name="reportContext">
            </Argument>
         </Function>
         <Function
               desc="Binds SQL parameters to Report Parameters"
               isConstructor="false"
               isStatic="true"
               name="BindParameters"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="The Report Context"
                  isOptional="false"
                  name="reportContext">
            </Argument>
         </Function>
         <Function
               desc="Interface to commons.logging from Script"
               isStatic="true"
               name="BirtLogger"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="The message"
                  isOptional="false"
                  name="message">
            </Argument>
            <Argument
                  desc="Logging level"
                  isOptional="true"
                  name="level">
            </Argument>
         </Function>         
         <Function
               desc="Inserts a Carriage Return in String"
               isStatic="true"
               name="TextWrap"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="The string that will have line feeds added"
                  isOptional="false"
                  name="inputString">
            </Argument>
            <Argument
                  desc="The location the carriage return should be added."
                  isOptional="false"
                  name="position">
            </Argument>
         </Function>
         <Function
               desc="Displays all of the parameters and the values for this report run"
               isStatic="true"
               name="DisplayParameters"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="The reportContext of the current report"
                  name="reportContext">
            </Argument>
         </Function>
         <Function
               desc="Throw a birt exception"
               isStatic="true"
               name="ThrowException"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="A message"
                  isOptional="false"
                  name="message">
            </Argument>
            <Argument
                  desc="Report Context"
                  isOptional="true"
                  name="reportContext">
            </Argument>
         </Function>
         <Function
               isStatic="true"
               name="SetChartPalette"
               variableArguments="true">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="Series Item that is being adjusted"
                  isOptional="false"
                  name="Series">
            </Argument>
            <Argument
                  desc="The IChartScriptContext element"
                  isOptional="false"
                  name="ChartScriptContext">
            </Argument>
         </Function>
         <Function
               name="ConvertFilters">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="The Report Context"
                  isOptional="false"
                  name="reportContext">
            </Argument>
         </Function>
         <Function
               desc="Add a Clause to the Where based on Parameter values"
               isConstructor="false"
               isStatic="true"
               name="WhereClauseBinding"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  desc="The Report Context"
                  isOptional="false"
                  name="reportContext">
            </Argument>
            <Argument
                  desc="The DataSet that is being modified"
                  isOptional="false"
                  name="dataSet">
            </Argument>
            <Argument
                  desc="The operation to be performed"
                  name="operator">
            </Argument>
            <Argument
                  desc="DataType for the Field"
                  name="dataType">
            </Argument>
            <Argument
                  desc="The names of the parameters that will be bound, if more than one parameter this should be a comma delimited list."
                  name="parameterNames">
            </Argument>
         </Function>
         <Function
               desc="Converts null values"
               isConstructor="false"
               isStatic="true"
               name="Coalesce"
               variableArguments="false">
            <DataType
                  value="Object">
            </DataType>
            <Argument
                  desc="The object to convert if null"
                  isOptional="false"
                  name="value">
            </Argument>
            <Argument
                  desc="The object to use if the first argument is null"
                  isOptional="false"
                  name="default">
            </Argument>
         </Function>
         
      </Category>
   </extension>

</plugin>
